<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.Shoppingweb.system.mapper.CommodityTypeMapper">
	<!-- 查询结果集 -->
	<resultMap id="BaseResultMap"
		type="com.situ.Shoppingweb.system.model.CommodityTypeModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="parent_code" property="parentCode" />
		<result column="parent_name" property="parentName" />
	</resultMap>
	<!-- 查询字段 -->
	<sql id="Base_Column_List">
		id, code, name, description ,parent_code
	</sql>
	<!-- 模糊查询条件 -->
	<sql id="Where_Like">
		where 1=1
		<if test="code!=null and code!=''">and code like #{code}</if>
		<if test="name!=null and name!=''">and name like #{name}</if>
		<if test="parentCode=='一级分类'">and parent_code = ""</if>
		<if test="parentCode=='二级分类'">and parent_code !=""</if>
	</sql>
	<!-- 根据条件查询记录,限制查询的条数 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		,(select name from shoppingweb.commodity_type where code =
		c1.parent_code) parent_name
		from shoppingweb.commodity_type c1
		<include refid="Where_Like" />
		limit #{rowStart},#{pageLimit}
	</select>
	<!-- 根据条件查询记录条数 -->
	<select id="selectCount" resultType="int" parameterType="Object">
		select count(1)
		from shoppingweb.commodity_type
		<include refid="Where_Like" />
	</select>
	<!-- 查询全部的上级分类 -->
	<select id="selectParent" resultMap="BaseResultMap"
		parameterType="Object">
		select code, name
		from shoppingweb.commodity_type
		where parent_code = ""
	</select>
	<!-- 根据parent_code查询二级分类 -->
	<select id="selectSon" resultMap="BaseResultMap"
		parameterType="Object">
		select code, name
		from shoppingweb.commodity_type
		where parent_code = #{code}
	</select>
	<!-- 查询全部的二级分类 -->
	<select id="selectAllSecond" resultMap="BaseResultMap"
		parameterType="Object">
		select code, name
		from shoppingweb.commodity_type
		where parent_code != ""
	</select>
	<!-- 精确查询一条数据 -->
	<select id="selectModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from shoppingweb.commodity_type
		where code=#{code}
	</select>
	<!-- 插入数据 -->
	<insert id="insert" parameterType="Object">
		insert into
		shoppingweb.commodity_type(code, name, description ,parent_code)
		values(#{code}, #{name},#{description},#{parentCode})
	</insert>
	<!-- 根据code删除用户 -->
	<delete id="del" parameterType="Object">
		delete from
		shoppingweb.commodity_type
		where code = #{code}
	</delete>
	<!-- 根据code修改用户信息 -->
	<update id="upd" parameterType="Object">
		update shoppingweb.commodity_type
		set description = #{description}, name = #{name}, parent_code =
		#{parentCode}
		where code = #{code}
	</update>
	<!-- 根据条件查询记录,限制查询的条数 -->
	<select id="selectSecondCount" resultType="int" parameterType="Object">
		select
		count(1)
		from shoppingweb.commodity_type 
		<if test="parentCode!=null and parentCode!=''">where parent_code = #{parentCode}</if>
	</select>
	
</mapper>   